:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 800;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --color: #552E8C;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

@keyframes instant-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes instant-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}


/* ------------------------------------------------------------------HEADER---------------------------------------------------------- */

.header {
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    left: 0;
    right: 0;
}

@keyframes headerSticky {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    animation: headerSticky .95s ease forwards;
    transition: height .5s ease-in
}

.logo img {
    width: 5rem;
}

.navigation {
    width: 70%;
}

.navigation a,
.sidebar a {
    padding: 0;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.navigation a:hover,
.sidebar a:hover {
    color: var(--color);
}

.navigation .dropdown-menu {
    padding: 2rem;
    top: 3.7rem;
}

.navigation .dropdown-menu a {
    padding: 0.5rem;
}

.search button,
.sidebar button {
    background-color: var(--color);
    background-color: white;
    color: var(--color);
    box-shadow: 0px 0px 12px 0px #00000012;
}

.search button:hover,
.sidebar button:hover {
    background-color: white;
    color: var(--color);
}

.search button:focus,
.search button:active,
.sidebar button:focus,
.search button:active {
    background-color: white;
    color: var(--color);
    border: none;
    outline: none;
}

.search .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.250);
    animation: instant-in 500ms ease-in-out;
    z-index: 100;
}

.search .search-contant {
    width: 70%;
    position: relative;
}

.search .form-outline {
    position: relative;
}

.search .form-outline .form-control {
    height: 4rem;
}

.search .form-outline .form-control:focus {
    box-shadow: none;
}

.search .form-outline button {
    position: absolute;
    top: 25%;
    right: 1rem;
    border: none;
}

.online-course .close-model i {
    margin: 0;
}

.online-course .close-model,
.search .close-model,
.login .close-model {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
    border: none;
    background-color: white;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 0 1rem;
}

.login button {
    background-color: var(--color);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login button:hover,
.login button:active,
.login button:focus {
    background-color: #2e194d;
    color: white;
}

.hiding {
    display: none !important;
}

.sidebar .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.250);
    animation: instant-in 500ms ease-in-out;
    z-index: 100;
}

.sidebar .sidebar-contant {
    position: relative;
    background-color: white;
    width: 50%;
}

.sidebar .sidebar-contant .border-btm {
    position: relative;
}

.sidebar .sidebar-contant .border-btm::after {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
    left: 0;
    bottom: 0;
}

.sidebar ul {
    padding: 0 2rem;
}

.sidebar li {
    padding: 1rem;
    width: 100%;
}

.sidebar .dropdown-item {
    padding: 0.8rem;
    width: 100%;
}

.sidebar .dropdown-menu {
    border: none;
    position: static;
}

.sidebar .dropdown-toggle:focus {
    color: unset;
}

.sidebar .close-model {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
    border: none;
}

.online-course .overlay,
.login .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.250);
    animation: instant-in 500ms ease-in-out;
    z-index: 100;
}

.login .login-contant {
    background-color: white;
    padding: 2rem;
}

.login .login-contant {
    width: fit-content;
}

.login .form-check-input {
    border-color: var(--color);
}

.login .form-check-input:checked {
    background-color: var(--color);
}

.login .login-submit {
    width: 100%;
    border: var(--color);
}

.login .login-submit:focus {
    border: var(--color);
    background-color: var(--color);
}


/* ------------------------------------------------------------------HEADER---------------------------------------------------------- */


/* --------------------------------------------------------------------HOME--------------------------------------------------------- */

.main {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 0;
    line-height: 2rem;
}

.main span,
.about-us .content span {
    color: var(--color);
    font-size: 1rem;
    padding-left: 3rem;
    position: relative;
    font-weight: 700;
}

.main span::before {
    content: '';
    position: absolute;
    border-bottom: var(--color) 2px solid;
    width: 3rem;
    left: 0rem;
    bottom: 0;
}

.main h1,
.experienced h1,
.about-us .content h1 {
    font-size: 3em;
    font-weight: 700;
    color: #2e194d;
}

.experienced p,
.main p,
.about-us .content p {
    font-size: 1.2rem;
    color: #0000008a;
    font-weight: 500;
}

.course {
    width: 100%;
    padding: 8rem 0;
}

.course h6 {
    text-align: center;
    color: var(--color);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.course h1 {
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.cour {
    background-color: #552e8c0a;
    padding: 0;
    text-align: start;
}

.cour img {
    width: 100%;
}

.cour h3 {
    text-transform: capitalize;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
}

.cour p {
    color: #0000008a;
    padding: 0 1rem;
}

.cour .login {
    padding-bottom: 1rem;
}

.about-us {
    background-color: #f2f0f1;
    padding: 10rem 0;
}

.about-us img {
    width: 100%;
    border-radius: 1rem;
}

.about-us .images {
    position: relative;
}

.about-us .total-student {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 12rem;
    justify-content: space-between;
    animation: bounceSlide 4s infinite both;
    bottom: 1rem;
}

.about-us .total-student i {
    padding: 0;
    font-size: 1rem;
    background-color: #552e8c63;
    display: flex;
    border-radius: 50rem;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-us .total-student div {
    padding: 0;
}

.about-us .total-student span {
    color: #552E8C;
    font-size: 1.5rem;
}

.about-us .total-student h6 {
    word-break: keep-all;
    text-transform: capitalize;
    font-size: 1rem;
    margin: 0;
}

@keyframes bounceSlide {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.content {
    text-align: start;
}

.achivement {
    background-color: var(--color);
    padding: 5rem 0;
}

.achivement {
    color: white;
}

.achivement p {
    color: gainsboro;
}

.achivement .edu-counterup {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgb(0 0 0 / 6%);
    text-align: center;
    padding: 1rem;
}

.achivement .achivement-img {
    max-width: 100%;
    border-radius: 1rem;
}

.achivement .edu-counterup img {
    max-width: 5rem;
}

.achivement .edu-counterup .content {
    text-align: center;
}

.achivement .edu-counterup h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color);
}

.achivement .edu-counterup span {
    display: inline-block;
    font-size: 1rem;
    color: #0000008a;
    font-weight: 500;
}

.experienced {
    text-align: center;
    padding: 5rem 0;
}

.staff {
    text-align: center;
    margin: 1rem 0;
}

.staff img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50rem;
}

.staff .name {
    font-size: 1.2rem;
    color: var(--color);
}

.staff .post {
    color: #0000008a;
}


/* --------------------------------------------------------------------HOME--------------------------------------------------------- */


/* ---------------------------------------------------ONLINE_COURSE--------------------------------------------------- */

.online-course {
    padding: 10rem 0;
}

.online-course .refineheader {
    border-bottom: 1px solid gainsboro;
}

.online-course .filter-refine,
.online-course .reset,
.online-course .display-card,
.online-course .display-list {
    border: none;
    background: none;
    color: #0000008a;
    font-size: 0.9rem;
    transition: 300ms ease-in;
}

.online-course i {
    margin-right: 0.5rem;
}

.online-course .best-seller,
.online-course .newest,
.online-course .best-rated,
.online-course .price {
    background: none;
    border: 1px solid #0000008a;
    font-size: 0.9rem;
    padding: 0.1rem;
    transition: 300ms ease-in;
}

.online-course .filter-refine:hover,
.online-course .reset:hover,
.online-course .cart:hover {
    color: var(--color);
}

.online-course .cart {
    border: none;
    background: none;
    color: #0000008a;
    font-size: 1.5rem;
    transition: 300ms ease-in;
    margin-left: 1rem;
    position: relative;
}

.online-course .cart span {
    position: absolute;
    font-size: 1rem;
    background-color: #552E8C;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    top: -0.5rem;
    right: -0.5rem;
}

.online-course .filter-list {
    box-shadow: 2px 2px 15px #e1e1e1;
    padding: 0.5rem;
    margin: 2rem 0;
    border: none;
}

.online-course .sidecourse-title button {
    background: none;
    border: none;
    font-weight: 600;
    box-shadow: none;
    padding: 0.5rem;
}

.online-course .filter-category {
    margin: 0.5rem 0;
}

.online-course .filter-category label {
    font-weight: 400;
}

.online-course .catefilterscroll {
    padding: 0;
}

.online-course .accordion-body {
    padding: 0.5rem;
}

.online-course .search-filter {
    padding: 0;
    display: flex;
}

.online-course .search-filter input {
    box-shadow: none;
}

.online-course .search-filter button {
    margin-left: 0.5rem;
    background-color: white;
    color: var(--color);
    box-shadow: 0px 0px 12px 0px #00000012;
    border: none;
}

.online-course .search-filter button i {
    margin: 0;
}

.online-course .cour {}

.online-course .cour img {
    width: 100%;
}

.online-course .cour .content {
    padding: 1rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.online-course .cour h3 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.online-course .cour p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-weight: 400;
}

.online-course .cour .category-course span {
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.online-course .cour button {
    background-color: var(--color);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.online-course .active {
    background-color: var(--color);
    color: white;
}

.online-course .shopping-cart-content {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.online-course .shopping-cart-content .cart-list {
    padding: 0;
}

.online-course .shopping-cart-content .cart-list li {
    list-style: none;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px gainsboro solid;
}

.online-course .shopping-cart-content .cart-list img {
    width: 8rem;
}

.online-course .shopping-cart-content .cart-list .title {
    font-weight: 700;
}

.online-course .shopping-cart-content .cart-list i {
    margin: 0;
    width: fit-content;
    height: fit-content;
    transition: 300ms ease-in;
}

.online-course .shopping-cart-content .cart-list i:hover {
    color: var(--color);
}

.online-course .shopping-cart-content .proceed-to-checkout {
    background-color: var(--color);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ---------------------------------------------------ONLINE_COURSE--------------------------------------------------- */


/* ----------------------------------------------------------------------FOOTER------------------------------------------------------- */

.footer {
    background-color: var(--color);
    color: white;
}

.footer a {
    text-decoration: none;
}


/* --------------------------------------------------------------------FOOTER------------------------------------------------------- */


/* --------------------------------------------------------------------FOOTER------------------------------------------------------- */

@media (max-width: 576px) {
    .filter-result {
        flex-wrap: wrap!important;
    }
    .fliter {
        width: 100%;
    }
}